@page "pages/edit/{id}"
@model EditModel

<div class="m-2">
	<partial name="_ProductEditor" model="@Model.ViewModel" />
</div>

@functions {
	public class EditModel : EditorPageModel
	{
		public EditModel(DataContext context) : base(context) { }

		public async Task OnGetAsync(long id)
		{
			Product p = await _context.Products.FindAsync(id);
			ViewModel = ViewModelFactory.Edit(p, Categories, Suppliers);
		}

		public async Task<IActionResult> OnPostAsync([FromForm]Product product)
		{
			if(ModelState.IsValid)
			{
				product.Category = default;
				product.Supplier = default;
				_context.Products.Update(product);
				await _context.SaveChangesAsync();
				return RedirectToPage(nameof(Index));
			}
			ViewModel = ViewModelFactory.Edit(product, Categories, Suppliers);
			return Page();
		}
	}
}