@page "{id:long?}"
@model WebApp.Pages.IndexModel
@using WebApp.Models
@using Microsoft.AspNetCore.Mvc.RazorPages


<div class="bg-primary text-white text-center m-2 p-2">@Model.Product.Name</div>
<partial name="_productPartial" model="Model.Product" />

@*<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
        <title>title</title>
        <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="bg-primary text-white text-center m-2 p-2">@Model.Product.Name</div>
    </body>
</html>*@



@*@functions {
    public class IndexModel : PageModel
    {
        public Product Product { get; set; }

        private DataContext _context;

        public IndexModel(DataContext context)
        {
            _context = context;
        }

        public async Task OnGetAsync(long id = 1)
        {
            Product = await _context.Products.FindAsync(id);
        }
    }
}*@