@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>Party!</title>
    </head>
    <body>
        <div>
            <div class="text-center">
                <h3>We're going to have an exciting party!</h3>
                <h4>And YOU are invited!</h4>
                <a class="btn btn-primary mb-3" asp-action="RsvpForm">RSVP NOW!</a> <br />
                <img src="~/img/party.jpg" alt="YAY!!!"/>
            </div>
        </div>
    </body>
</html>